Работа с временными рядами в pandas:

Напишите программу, которая:
- Создаёт DataFrame с двумя столбцами: "Дата" (в формате дд-мм-гггг) и "Значение" (целые числа).
- Преобразует столбец "Дата" в тип datetime и устанавливает его в качестве индекса DataFrame.
- Генерирует временной ряд, заполняя столбец "Значение" случайными числами.
- Выводит сгенерированный временной ряд.
- Запрашивает у пользователя начальную и конечную дату периода для фильтрации.
- Выводит временной ряд за указанный период.

In [1]:
import pandas as pd
import random

In [13]:

n = int(input('Введите размер датафрейма: '))
values = [random.randint(1,100) for _ in range(n)]
date_range = pd.date_range(start = '20240101',
                     periods=n)
df = pd.DataFrame({'Дата': date_range.strftime('%d-%m-%Y'),
                  'Значение':  values})

df.set_index('Дата', inplace=True)
print('Сгенерированный временной ряд:')
display(df)
start = input('Введите начальную дату (дд-мм-гггг):')
end = input('Введите конечную дату (дд-мм-гггг):')
print('Временной ряд за указанный период:')
display(df.loc[start:end])

Введите размер датафрейма:  10

Сгенерированный временной ряд:

            Значение
Дата
01-01-2024        62
02-01-2024        78
03-01-2024        14
04-01-2024         6
05-01-2024        76
06-01-2024        66
07-01-2024        70
08-01-2024        60
09-01-2024        96
10-01-2024        29

Введите начальную дату (дд-мм-гггг): 02-01-2024
Введите конечную дату (дд-мм-гггг): 08-01-2024

Временной ряд за указанный период:

            Значение
Дата
02-01-2024        78
03-01-2024        14
04-01-2024         6
05-01-2024        76
06-01-2024        66
07-01-2024        70
08-01-2024        60

 Работа с несколькими DataFrame

Напишите программу, которая:
- Создаёт DataFrame с тремя столбцами: "Товар", “Откуда”, “Куда” (в последних двух столбцах указываются города).
- Создаёт второй DataFrame с двумя столбцами: "Город", “Страна”.
- На основе слияния двух предыдущих DataFrame создает третий, в котором для каждого товара вместо городов доставки будут указаны страны. Лишних столбцов в этом DataFrame быть не должно, только "Товар", “Откуда”, “Куда” (в последних двух столбцах указываются страны)
- Добавьте в последний DataFrame новый столбец “Внутри_страны”, который принимает логические значения (True, если доставка осуществляется внутри страны).
- Вычислите, сколько в наших данных доставок внутри страны.

In [2]:
df1 = pd.DataFrame({'Товар':  ['Посуда', 'Шоколад', 'Футболка', 'Кофе', 'Духи', 'Постельное белье', 'Футболка', 'Микроволновка', 'Шампунь', 'Сыр', 'Крем для лица', 'Посуда', 'Обувь', 'Крем для лица', 'Шампунь', 'Футболка', 'Микроволновка', 'Книга', 'Шоколад', 'Сыр'],
                   'Откуда': ['Лондон', 'Будапешт', 'Амстердам', 'Мадрид', 'Берлин', 'Рим', 'Берлин', 'Рим', 'Берлин', 'Лондон', 'Рим', 'Стокгольм', 'Будапешт', 'Амстердам', 'Мадрид', 'Прага', 'Амстердам', 'Амстердам', 'Париж', 'Лондон'],
                   'Куда':['Лондон', 'Будапешт', 'Прага', 'Лондон', 'Будапешт', 'Стокгольм', 'Мадрид', 'Прага', 'Берлин', 'Стокгольм', 'Берлин', 'Лондон', 'Мадрид', 'Будапешт', 'Будапешт', 'Стокгольм', 'Амстердам', 'Стокгольм', 'Мадрид', 'Стокгольм']})

In [3]:
df2 = pd.DataFrame({'Город': ['Париж', 'Берлин', 'Мадрид', 'Рим', 'Лондон', 'Амстердам', 'Вена', 'Прага', 'Будапешт', 'Стокгольм'],
                   'Страна': ['Франция', 'Германия', 'Испания', 'Италия', 'Великобритания', 'Нидерланды', 'Австрия', 'Чехия', 'Венгрия', 'Швеция']})

In [4]:
df1.to_csv('goods.csv',index=False)
df2.to_csv('cities-countries.csv', index=False)

In [32]:
df = df1.join(df2.set_index('Город'),
         on = 'Откуда').drop('Откуда',axis=1).rename(columns = {'Страна': 'Откуда'})
df = df.join(df2.set_index('Город'),
         on = 'Куда').drop('Куда',axis=1).rename(columns = {'Страна': 'Куда'})
df.loc[:,'Внутри_страны']=df['Откуда']==df['Куда']

In [33]:
df.head()

      Товар          Откуда            Куда  Внутри_страны
0    Посуда  Великобритания  Великобритания           True
1   Шоколад         Венгрия         Венгрия           True
2  Футболка      Нидерланды           Чехия          False
3      Кофе         Испания  Великобритания          False
4      Духи        Германия         Венгрия          False

In [35]:
df.groupby('Внутри_страны')['Товар'].count()

Внутри_страны
False    16
True      4
Name: Товар, dtype: int64

In [36]:
df['Внутри_страны'].value_counts()

Внутри_страны
False    16
True      4
Name: count, dtype: int64

In [37]:
df['Внутри_страны'].value_counts(normalize=True)

Внутри_страны
False    0.8
True     0.2
Name: proportion, dtype: float64



Напишите программу, которая:

Запрашивает у пользователя количество строк данных для ввода.
Для каждой строки запрашивает данные по трем столбцам: "Имя", "Возраст", "Регион", разделённые пробелом.
Создает DataFrame на основе введенных данных.
Выводит общую информацию о DataFrame, включая количество записей, средний возраст, и количество уникальных регионов.
Выбирает и выводит на экран данные о самом молодом участнике.

In [39]:
n = int(input('Введите количество записей: '))
data = list()
print('Для каждой записи введите имя, возраст и регион')
for _ in range(n):
    data.append(input('Введите через пробел имя, возраст и регион: ').split())
df = pd.DataFrame(columns = ['Имя', 'Возраст', 'Регион'],
                 data = data,
                 dtype=)
df['Возраст'] = df['Возраст'].astype(int)

Введите количество записей:  2

Для каждой записи введите имя, возраст и регион

Введите через пробел имя, возраст и регион:  крис 36 бавария
Введите через пробел имя, возраст и регион:  алекс 31 бавария

In [46]:
df[df['Возраст']==df['Возраст'].min()]

     Имя  Возраст   Регион
1  алекс       31  бавария

         Возраст
count   2.000000
mean   33.500000
std     3.535534
min    31.000000
25%    32.250000
50%    33.500000
75%    34.750000
max    36.000000