Series
===

**–ü—Ä–∏–º–µ—Ä —Å–æ–∑–¥–∞–Ω–∏—è Series**

–û–¥–Ω–æ–º–µ—Ä–Ω—ã–π –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö. –û—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ –∑–∞–ø–∏—Å—ã–≤–∞—é—Ç—Å—è –∫–∞–∫ np.nan. –ü—Ä–∏ –≤—ã—á–∏—Å–ª–µ–Ω–∏–∏ —Å—Ä–µ–¥–Ω–µ–≥–æ –∏ –¥—Ä—É–≥–∏—Ö –æ–ø–µ—Ä–∞—Ü–∏–π —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏ –Ω–µ —É—á–∏—Ç—ã–≤–∞—é—Ç –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è.

In [45]:
import numpy as np
import pandas as pd

l = [1, 3, 5, np.nan, 6, 8]
s = pd.Series(l)

In [46]:
print(s.values, type(s.values))

print(s.to_dict())

print(s.index)

[ 1.  3.  5. nan  6.  8.] <class 'numpy.ndarray'>
{0: 1.0, 1: 3.0, 2: 5.0, 3: nan, 4: 6.0, 5: 8.0}
RangeIndex(start=0, stop=6, step=1)

–û—Å–Ω–æ–≤–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –Ω–∞–±–æ—Ä–µ –¥–∞–Ω–Ω—ã—Ö: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π, —Å—Ä–µ–¥–Ω–µ–µ, —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ, –º–∏–Ω–∏–º—É–º, –Ω–∏–∂–Ω–∏–π –∫–≤–∞—Ä—Ç–∏–ª—å, –º–µ–¥–∏–∞–Ω–∞, –≤–µ—Ä—Ö–Ω–∏–π –∫–≤–∞—Ä—Ç–∏–ª—å, –º–∞–∫—Å–∏–º—É–º, –∞ —Ç–∞–∫ –∂–µ —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö.

In [47]:
s.describe()

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

**–ò–Ω–¥–µ–∫—Å–∞—Ü–∏—è**

In [48]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s[2]

s[2] = 7
s

s[2:5]

s1 = s[1:]
s1

s2 = s[:-1]
s2

0    1.0
1    3.0
2    7.0
3    NaN
4    6.0
dtype: float64

–í —Å—É–º–º–µ s1+s2 —Å–∫–ª–∞–¥—ã–≤–∞—é—Ç—Å—è –¥–∞–Ω–Ω—ã–µ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ –∏–Ω–¥–µ–∫—Å–∞–º–∏. –ü–æ—Å–∫–æ–ª—å–∫—É –≤ s1 –Ω–µ—Ç –¥–∞–Ω–Ω–æ–≥–æ –∏ –∏–Ω–¥–µ–∫—Å–æ–º 0, –∞ –≤ s2 ‚Äî —Å –∏–Ω–¥–µ–∫—Å–æ–º 5, –≤ s1+s2 –≤ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏—Ö –ø–æ–∑–∏—Ü–∏—è—Ö –±—É–¥–µ—Ç NaN.

In [49]:
s1 + s2

0     NaN
1     6.0
2    14.0
3     NaN
4    12.0
5     NaN
dtype: float64

–ö –Ω–∞–±–æ—Ä–∞–º –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å —Ñ—É–Ω–∫—Ü–∏–∏ –∏–∑ numpy.

In [50]:
np.exp(s1)
type(np.exp(s)), type(s)

(pandas.core.series.Series, pandas.core.series.Series)

–ü—Ä–∏ —Å–æ–∑–¥–∞–Ω–∏–∏ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö s –º—ã –Ω–µ —É–∫–∞–∑–∞–ª–∏, —á—Ç–æ –±—É–¥–µ—Ç –∏–≥—Ä–∞—Ç—å —Ä–æ–ª—å –∏–Ω–¥–µ–∫—Å–∞. –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é —ç—Ç–æ –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å –Ω–µ–æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã—Ö —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª 0, 1, 2, ...

In [51]:
s.index

RangeIndex(start=0, stop=6, step=1)

–ù–æ –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞–≤–∞—Ç—å –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö —Å –∏–Ω–¥–µ–∫—Å–æ–º, –∑–∞–¥–∞–Ω–Ω—ã–º —Å–ø–∏—Å–∫–æ–º.

In [52]:
i = list('abcdef')  # i == ['a', 'b', 'c', 'd', 'e', 'f']
s = pd.Series(l, index=i)
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

–ï—Å–ª–∏ –∏–Ω–¥–µ–∫—Å ‚Äî —Å—Ç—Ä–æ–∫–∞, —Ç–æ –≤–º–µ—Å—Ç–æ s['c'] –º–æ–∂–Ω–æ –ø–∏—Å–∞—Ç—å s.c.

In [53]:
s['c']

5.0

In [54]:
s.c

5.0

–ù–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞—Ç—å –∏–∑ —Å–ª–æ–≤–∞—Ä—è.

In [55]:
s = pd.Series({'a':1, 'b':2, 'c':0})
s

a    1
b    2
c    0
dtype: int64

–†–æ–ª—å –∏–Ω–¥–µ–∫—Å–∞ –º–æ–∂–µ—Ç –∏–≥—Ä–∞—Ç—å, —Å–∫–∞–∂–µ–º, –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å –¥–∞—Ç –∏–ª–∏ –≤—Ä–µ–º–µ–Ω–∏ –∏–∑–º–µ—Ä–µ–Ω–∏—è –∏ —Ç.–¥.

In [56]:
d = pd.date_range('20160101', periods=6)
d

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [57]:
s = pd.Series(l, index=d)
s

2016-01-01    1.0
2016-01-02    3.0
2016-01-03    5.0
2016-01-04    NaN
2016-01-05    6.0
2016-01-06    8.0
Freq: D, dtype: float64

In [58]:
s[s > 3]

2016-01-03    5.0
2016-01-05    6.0
2016-01-06    8.0
dtype: float64

**–ü—Ä–æ–¥–≤–∏–Ω—É—Ç—ã–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å Series**


–ï—Å–ª–∏ –≤—ã —Ö–æ—Ç–∏—Ç–µ –ø–æ—Å—á–∏—Ç–∞—Ç—å —Ä–∞–∑–Ω–æ—Å—Ç–∏ —Å–æ—Å–µ–¥–Ω–∏—Ö —ç–ª–µ–º–µ–Ω—Ç–æ–≤, –≤–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å –º–µ—Ç–æ–¥–æ–º diff. –ö–ª—é—á–µ–≤–æ–µ —Å–ª–æ–≤–æ periods –æ—Ç–≤–µ—á–∞–µ—Ç –∑–∞ —Ç–æ, —Å –∫–∞–∫–∏–º —à–∞–≥–æ–º –±—É–¥—É—Ç —Å—á–∏—Ç–∞—Ç—å—Å—è —Ä–∞–∑–Ω–æ—Å—Ç–∏.

In [59]:
s.diff()

2016-01-01    NaN
2016-01-02    2.0
2016-01-03    2.0
2016-01-04    NaN
2016-01-05    NaN
2016-01-06    2.0
Freq: D, dtype: float64

–†–µ–∑—É–ª—å—Ç–∞—Ç –±—É–¥–µ—Ç –∏–º–µ—Ç—å —Ç–æ—Ç –∂–µ —Ä–∞–∑–º–µ—Ä, –Ω–æ –≤ –Ω–∞—á–∞–ª–µ –ø–æ—è–≤—è—Ç—Å—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è. –û—Ç –Ω–∏—Ö –º–æ–∂–Ω–æ –∏–∑–±–∞–≤–∏—Ç—å—Å—è –ø—Ä–∏ –ø–æ–º–æ—â–∏ –º–µ—Ç–æ–¥–∞ dropna.

In [60]:
s.diff().dropna()

2016-01-02    2.0
2016-01-03    2.0
2016-01-06    2.0
dtype: float64

–ö—É–º—É–ª—è—Ç–∏–≤–Ω—ã–µ –º–∞–∫—Å–∏–º—É–º—ã ‚Äî –æ—Ç –ø–µ—Ä–≤–æ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ –¥–æ —Ç–µ–∫—É—â–µ–≥–æ. –ü–µ—Ä–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–≥–æ –º–∞–∫—Å–∏–º—É–º–∞ —Å–æ–≤–ø–∞–¥–∞–µ—Ç —Å –ø–µ—Ä–≤—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –º–∞—Å—Å–∏–≤–∞. –î–∞–ª–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ  ùëò -–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ –µ—Å—Ç—å –º–∞–∫—Å–∏–º—É–º —Å—Ä–µ–¥–∏ —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –¥–æ  ùëò -–≥–æ –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ. –ê–Ω–∞–ª–æ–≥–∏—á–Ω–æ –º–∏–Ω–∏–º—É–º

In [61]:
s

2016-01-01    1.0
2016-01-02    3.0
2016-01-03    5.0
2016-01-04    NaN
2016-01-05    6.0
2016-01-06    8.0
Freq: D, dtype: float64

In [62]:
s.cummin()

2016-01-01    1.0
2016-01-02    1.0
2016-01-03    1.0
2016-01-04    NaN
2016-01-05    1.0
2016-01-06    1.0
Freq: D, dtype: float64

–ö—É–º—É–ª—è—Ç–∏–≤–Ω—ã–µ —Å—É–º–º—ã. –ü–µ—Ä–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–π —Å—É–º–º—ã —Å–æ–≤–ø–∞–¥–∞–µ—Ç —Å –ø–µ—Ä–≤—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –º–∞—Å—Å–∏–≤–∞. –î–∞–ª–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ  ùëò -–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ –µ—Å—Ç—å —Å—É–º–º–∞ —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –¥–æ  ùëò -–≥–æ –≤–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ.

In [63]:
s.cumsum()

2016-01-01     1.0
2016-01-02     4.0
2016-01-03     9.0
2016-01-04     NaN
2016-01-05    15.0
2016-01-06    23.0
Freq: D, dtype: float64

–ü—Ä–æ–∏–∑–≤–æ–ª—å–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ –∫—É–º—É–ª—è—Ç–∏–≤–Ω—ã–º —Å–ø–æ—Å–æ–±–æ–º –º–æ–∂–Ω–æ —Å—á–∏—Ç–∞—Ç—å —Å –ø–æ–º–æ—â—å—é –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏–∏ expanding. –ù–∞–ø—Ä–∏–º–µ—Ä, —Ç–∞–∫ –º–æ–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å –∫—É–º—É–ª—è—Ç–∏–≤–Ω—ã–µ –º–µ–¥–∏–∞–Ω—ã. –ë—É–¥–µ—Ç –Ω–µ –±—ã—Å—Ç—Ä–µ–µ, —á–µ–º –≤—Ä—É—á–Ω—É—é, –Ω–æ –∞–∫–∫—É—Ä–∞—Ç–Ω–µ–µ.

**–†–µ—à–µ–Ω–∏–µ –∑–∞–¥–∞—á**
1. –ß—Ç–æ –±—É–¥–µ—Ç –≤—ã–≤–µ–¥–µ–Ω–æ –≤ —Å–ª–µ–¥—É—é—â–∏—Ö —Å–ª—É—á–∞—è—Ö –∏ –ø–æ—á–µ–º—É

In [107]:
s = pd.Series([1, 2, 3, 4, 5, 6])
t = s[2:]+s[:2]
print(t)
print(t.dropna())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64
Series([], dtype: float64)

In [108]:
s[2:]

2    3
3    4
4    5
5    6
dtype: int64

In [109]:
s[:2]

0    1
1    2
dtype: int64

2. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫—É–º—É–ª—è—Ç–∏–≤–Ω–æ–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–≤–∞–¥—Ä–∞—Ç–æ–≤ —Ä–∞–∑–Ω–æ—Å—Ç–µ–π —Å–æ—Å–µ–¥–Ω–∏—Ö —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –Ω–∞–±–æ—Ä–∞ s.
–û—Ç –Ω–∏—Ö –º–æ–∂–Ω–æ –∏–∑–±–∞–≤–∏—Ç—å—Å—è –ø—Ä–∏ –ø–æ–º–æ—â–∏ –º–µ—Ç–æ–¥–∞ dropna.

In [65]:
s.diff().dropna().expanding().apply(lambda x: np.mean(x**2))

1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
dtype: float64

DataFrames
--
–°–æ–∑–¥–∞–Ω–∏–µ DataFrame.

DataFrame ‚Äì –¥–≤—É–º–µ—Ä–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞ —Å –¥–∞–Ω–Ω—ã–º–∏. –ò–º–µ–µ—Ç –∏–Ω–¥–µ–∫—Å –∏ –Ω–∞–±–æ—Ä —Å—Ç–æ–ª–±—Ü–æ–≤ (–≤–æ–∑–º–æ–∂–Ω–æ, –∏–º–µ—é—â–∏—Ö —Ä–∞–∑–Ω—ã–µ —Ç–∏–ø—ã). –¢–∞–±–ª–∏—Ü—É –º–æ–∂–Ω–æ –ø–æ—Å—Ç—Ä–æ–∏—Ç—å, –Ω–∞–ø—Ä–∏–º–µ—Ä, –∏–∑ —Å–ª–æ–≤–∞—Ä—è, –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –≤ –∫–æ—Ç–æ—Ä–æ–º —è–≤–ª—è—é—Ç—Å—è –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–µ –Ω–∞–±–æ—Ä—ã –¥–∞–Ω–Ω—ã—Ö. –ú–æ–∂–Ω–æ —Å–∫–∞–∑–∞—Ç—å, —á—Ç–æ —ç—Ç–æ Series Series. –ü—Ä–∏ —ç—Ç–æ–º –∏ –∫–∞–∂–¥—ã–π —Å—Ç–æ–ª–±–µ—Ü, –∏ –∫–∞–∂–¥–∞—è —Å—Ç—Ä–æ–∫–∞ –±—É–¥—É—Ç Series.

In [66]:
d = {'one': pd.Series(range(6), index=list('aaaefg'))}
df = pd.DataFrame(d)
df

   one
a    0
a    1
a    2
e    3
f    4
g    5

–î–ª—è —Å–ª—É—á–∞—è –æ–¥–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –Ω–µ –æ—á–µ–Ω—å –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç Series. –•–æ—Ç—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è –¥—Ä—É–≥–∞—è, –∏–±–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏–∑ –æ–¥–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ ‚Äì —ç—Ç–æ –Ω–∞–±–æ—Ä –∏–∑ –æ–¥–Ω–æ–π Series, –∞ –Ω–µ –æ–¥–Ω–∞ Series. –ò–Ω–æ–≥–¥–∞ –¥–ª—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –≤ jupyter notebook / colab –∏—Å–ø–æ–ª—å–∑—É—é—Ç —Å–ø–µ—Ü–∏–∞–ª—å–Ω—É—é –∏–Ω—Å—Ç—Ä—É–∫—Ü–∏—é display: display(df).

In [67]:
display(df)

   one
a    0
a    1
a    2
e    3
f    4
g    5

–ú–æ–∂–Ω–æ —Å–±—Ä–æ—Å–∏—Ç—å –∏–Ω–¥–µ–∫—Å! –≠—Ç–æ –ø—Ä–∏–≤–µ–¥–µ—Ç –∫ —Ç–æ–º—É, —á—Ç–æ –ø–æ—è–≤–∏—Ç—Å—è –µ—â–µ –æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü (–∫–æ—Ç–æ—Ä—ã–π —Ä–∞–Ω—å—à–µ –±—ã–ª –∏–Ω–¥–µ–∫—Å–æ–º) –∏ —Å–æ–∑–¥–∞—Å—Ç—Å—è –Ω–æ–≤—ã–π –∏–Ω–¥–µ–∫—Å –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é.

In [68]:
df.reset_index()

  index  one
0     a    0
1     a    1
2     a    2
3     e    3
4     f    4
5     g    5

–°–æ–∑–¥–∞–¥–∏–º —Ç–µ–ø–µ—Ä—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –Ω–µ—Å–∫–æ–ª—å–∫–∏–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏. –í –∏–¥–µ–∞–ª—å–Ω–æ–º —Å–ª—É—á–∞–µ –¥–ª–∏–Ω—ã —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏! –í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ —ç—Ç–æ –Ω–µ —Ç–∞–∫, —á—Ç–æ –≤ –±—É–¥—É—â–µ–º –ø—Ä–∏–≤–µ–¥–µ—Ç –∫ –Ω–µ–æ–∂–∏–¥–∞–Ω–Ω—ã–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º.

In [69]:
d = {'one': pd.Series(range(6), index=list('abdefg')),
     'two': pd.Series(range(7), index=list('abcdefg')),
     'three': pd.Series(np.random.normal(size=7), index=list('abcdefg'))}
df = pd.DataFrame(d)
df

   one  two     three
a  0.0    0 -0.146532
b  1.0    1 -0.770408
c  NaN    2 -0.470847
d  2.0    3 -0.982997
e  3.0    4 -1.061588
f  4.0    5  1.068391
g  5.0    6  0.238150

–ù–µ—Å–º–æ—Ç—Ä—è –Ω–∞ —Ç–æ, —á—Ç–æ –≤ —Å—Ç–æ–ª–±—Ü–µ one –Ω–µ—Ç –∏–Ω–¥–µ–∫—Å–∞ c, —Ç–∞–±–ª–∏—Ü–∞ –∑–∞–ø–æ–ª–Ω–µ–Ω–∞ –∏ –Ω–∞ –º–µ—Å—Ç–µ –ø—Ä–æ–ø—É—Å–∫–∞ —Å—Ç–æ–∏—Ç np.nan, –∫–∞–∫ –∏ –≤—Å–µ–≥–¥–∞. –î–∞–∂–µ –µ—Å–ª–∏ –º—ã –ø–æ–ø—Ä–æ—Å–∏–º –≤—ã–≤–µ—Å—Ç–∏ —ç—Ç–æ—Ç —Å—Ç–æ–ª–±–µ—Ü, —Ç–æ –≤ –Ω–µ–º –±—É–¥—É—Ç 7 —ç–ª–µ–º–µ–Ω—Ç–æ–≤. –ò–±–æ –ø—Ä–∏ –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏ –º—ã –æ–±—Ä–∞—â–∞–µ–º—Å—è –∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É, –∞ –≤ –Ω–µ–º —Å—Ç—Ä–æ–∫–∞ c –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç.

In [70]:
df['one']

a    0.0
b    1.0
c    NaN
d    2.0
e    3.0
f    4.0
g    5.0
Name: one, dtype: float64

In [71]:
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

–¢–∞–±–ª–∏—Ü–∞ —Å –Ω–µ—Å–∫–æ–ª—å–∫–∏–º–∏ —Ä–∞–∑–Ω—ã–º–∏ —Ç–∏–ø–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö.

In [114]:
list(range(1,5))

[1, 2, 3, 4]

In [121]:
pd.Series(1, index=list('abcd'),
                                    dtype='float32')

a    1.0
b    1.0
c    1.0
d    1.0
dtype: float32

In [125]:
df2 = pd.DataFrame({ 'A': 1.,
                     'B': pd.Timestamp('20130102'),
                     'C': pd.Series(1, index=list(range(4)),
                                    dtype='int32'),
                     'D': np.array([3] * 4,
                                   dtype='int32'),
                     'E': pd.Categorical(["test", "train",
                                       "test", "train"]), # one - hot encoding
                     'F': 'foo'})
df2

     A          B  C  D      E    F
0  1.0 2013-01-02  1  3   test  foo
1  1.0 2013-01-02  1  3  train  foo
2  1.0 2013-01-02  1  3   test  foo
3  1.0 2013-01-02  1  3  train  foo

In [73]:
df2['B'].dt.year

0    2013
1    2013
2    2013
3    2013
Name: B, dtype: int32

In [74]:
df2['B'].dt.month

0    1
1    1
2    1
3    1
Name: B, dtype: int32

In [75]:
df2['B'].dt.day

0    2
1    2
2    2
3    2
Name: B, dtype: int32

In [76]:
df2['B']+pd.Timedelta(4,'w')

0   2013-01-30
1   2013-01-30
2   2013-01-30
3   2013-01-30
Name: B, dtype: datetime64[ns]

In [77]:
df2['B']

0   2013-01-02
1   2013-01-02
2   2013-01-02
3   2013-01-02
Name: B, dtype: datetime64[ns]

–ê–Ω–∞–ª–∏–∑ DataFrame.
--

In [78]:
df.head()  # –≤ –∞—Ä–≥—É–º–µ–Ω—Ç–µ –º–æ–∂–µ–º —É–∫–∞–∑–∞—Ç—å —Å–∫–æ–ª—å–∫–æ –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ —Ö–æ—Ç–∏–º –≤—ã–≤–µ—Å—Ç–∏
df.tail(3)  # (–∞ –∑–¥–µ—Å—å –ø–æ—Å–ª–µ–¥–Ω–∏—Ö). –ø–æ —É–º–æ–ª—á–∞–Ω–∏—é ‚Äì 5
df.index  # –∏–Ω–¥–µ–∫—Å—ã
df.columns 
df.values

array([[ 0.        ,  0.        , -0.14653158],
       [ 1.        ,  1.        , -0.77040849],
       [        nan,  2.        , -0.47084668],
       [ 2.        ,  3.        , -0.98299741],
       [ 3.        ,  4.        , -1.06158791],
       [ 4.        ,  5.        ,  1.06839078],
       [ 5.        ,  6.        ,  0.23814966]])

–ü—Ä–∏ –æ–±—Ä–∞—â–µ–Ω–∏–∏ –∫ values –º—ã –ø–æ–ª—É—á–∏–º –∑–Ω–∞–∫–æ–º—ã–µ numpy.array. –î–∞, –¥–∞–Ω–Ω—ã–µ —Ö—Ä–∞–Ω—è—Ç—Å—è –∏–º–µ–Ω–Ω–æ —Ç–∞–∫.
–û–ø–∏—Å–∞—Ç–µ–ª—å–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ—Ö–æ–∂–∏ –Ω–∞ —Ç–æ —á—Ç–æ –≤ Series, —Å—á–∏—Ç–∞—é—Ç—Å—è –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º.

In [79]:
df.describe()

            one       two     three
count  6.000000  7.000000  7.000000
mean   2.500000  3.000000 -0.303690
std    1.870829  2.160247  0.761854
min    0.000000  0.000000 -1.061588
25%    1.250000  1.500000 -0.876703
50%    2.500000  3.000000 -0.470847
75%    3.750000  4.500000  0.045809
max    5.000000  6.000000  1.068391

–î–∞–Ω–Ω—ã–µ –º–æ–∂–Ω–æ —Ç—Ä–∞–Ω—Å–ø–æ–Ω–∏—Ä–æ–≤–∞—Ç—å ‚Äì –∫–∞–∫ –±—ã –ø–æ–º–µ–Ω—è—Ç—å –º–µ—Å—Ç–∞–º–∏ —Å—Ç—Ä–æ–∫–∏ —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏

In [80]:
df.T

              a         b         c         d         e         f        g
one    0.000000  1.000000       NaN  2.000000  3.000000  4.000000  5.00000
two    0.000000  1.000000  2.000000  3.000000  4.000000  5.000000  6.00000
three -0.146532 -0.770408 -0.470847 -0.982997 -1.061588  1.068391  0.23815

–°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ —Å—Ç–æ–ª–±—Ü—É, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ —Ç—Ä–µ—Ç—å–µ–º—É

In [81]:
df.sort_values(by='three', ascending=False)

   one  two     three
f  4.0    5  1.068391
g  5.0    6  0.238150
a  0.0    0 -0.146532
c  NaN    2 -0.470847
b  1.0    1 -0.770408
d  2.0    3 -0.982997
e  3.0    4 -1.061588

–ú–æ–∂–Ω–æ –ø—Ä–æ–∏—Ç–µ—Ä–∏—Ä–æ–≤–∞—Ç—å—Å—è –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º

In [82]:
for i in df.columns:
  print(i, df[i])

one a    0.0
b    1.0
c    NaN
d    2.0
e    3.0
f    4.0
g    5.0
Name: one, dtype: float64
two a    0
b    1
c    2
d    3
e    4
f    5
g    6
Name: two, dtype: int64
three a   -0.146532
b   -0.770408
c   -0.470847
d   -0.982997
e   -1.061588
f    1.068391
g    0.238150
Name: three, dtype: float64

–ò–ª–∏ –ø–æ —Å—Ç—Ä–æ–∫–∞–º. –ò —Ç–æ, –∏ —Ç–æ –Ω–µ—ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–æ –∏ —Å–ª–µ–¥—É–µ—Ç –ø–æ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –∏–∑–±–µ–≥–∞—Ç—å –ø—Ä—è–º–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏, –∑–∞–º–µ–Ω—è—è –µ—ë –æ–ø–µ—Ä–∞—Ü–∏—è–º–∏ –Ω–∞–¥ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞–º–∏, –æ –∫–æ—Ç–æ—Ä—ã—Ö –º—ã –ø–æ–≥–æ–≤–æ—Ä–∏–º –ø–æ–∑–∂–µ.

In [83]:
for i, j in df.iterrows():
  print(i,j)

a one      0.000000
two      0.000000
three   -0.146532
Name: a, dtype: float64
b one      1.000000
two      1.000000
three   -0.770408
Name: b, dtype: float64
c one           NaN
two      2.000000
three   -0.470847
Name: c, dtype: float64
d one      2.000000
two      3.000000
three   -0.982997
Name: d, dtype: float64
e one      3.000000
two      4.000000
three   -1.061588
Name: e, dtype: float64
f one      4.000000
two      5.000000
three    1.068391
Name: f, dtype: float64
g one      5.00000
two      6.00000
three    0.23815
Name: g, dtype: float64

*–ó–∞–¥–∞–Ω–∏–µ –¥–ª—è –∑–∞–∫—Ä–µ–ø–ª–µ–Ω–∏—è.
–°–≥–µ–Ω–µ—Ä–∏—Ä—É–π—Ç–µ –º–∞—Å—Å–∏–≤ —Ç–æ—á–µ–∫ –≤ 3D, —Å–æ–∑–¥–∞–π—Ç–µ –ø–æ –Ω–µ–º—É –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –∏ –æ—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ —Å—Ç—Ä–æ–∫–∏ –≤ –ø–æ—Ä—è–¥–∫–µ —Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –æ—Å–µ–π.*

In [84]:
pd.DataFrame(
    np.random.normal(size=(100, 3)),
    columns=['x', 'y', 'z']
).sort_values(by=['x', 'y', 'z'])

           x         y         z
4  -2.904375  0.454166 -1.100485
53 -2.229346  2.411966  0.225889
37 -2.164886 -0.674176 -0.238169
65 -1.881564 -0.232201 -0.127590
82 -1.825766  0.563061 -0.901687
..       ...       ...       ...
86  1.668996 -1.051459 -0.966243
23  1.828239 -1.513735  0.328563
49  1.858177  0.361421 -1.319767
31  2.258048  0.172585 -0.333104
25  2.486723  0.138018  0.610624

[100 rows x 3 columns]

–ò–Ω–¥–µ–∫—Å–∞—Ü–∏—è –≤ DataFrame.
--

–í –æ—Ç–ª–∏—á–∏–∏ –æ—Ç –æ–±—ã—á–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏ –≤ Python –∏ Numpy, –≤ Pandas –ø—Ä–∏–Ω—è—Ç–∞ –∏–Ω–∞—è —Å–∏—Å—Ç–µ–º–∞ –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏, –∫–æ—Ç–æ—Ä–∞—è —è–≤–ª—è–µ—Ç—Å—è –Ω–µ—Å–∫–æ–ª—å–∫–æ –Ω–µ–ª–æ–≥–∏—á–Ω–æ–π, –æ–¥–Ω–∞–∫–æ, –Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ —á–∞—Å—Ç–æ –æ–∫–∞–∑—ã–≤–∞–µ—Ç—Å—è —É–¥–æ–±–Ω–æ–π –ø—Ä–∏ –æ–±—Ä–∞–±–æ—Ç–∫–µ —Å–∏–ª—å–Ω–æ –Ω–µ–æ–¥–Ω–æ—Ä–æ–¥–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö. –î–ª—è –Ω–∞–ø–∏—Å–∞–Ω–∏—è –ø—Ä–æ–¥—É–∫—Ç–∏–≤–Ω–æ–≥–æ –∫–æ–¥–∞ –ø—Ä–∏ –æ–±—Ä–∞–±–æ—Ç–∫–µ –±–æ–ª—å—à–æ–≥–æ –æ–±—ä–µ–º–∞ –¥–∞–Ω–Ω—ã—Ö —Å—Ç–æ–∏—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∞—Ç—Ä–∏–±—É—Ç—ã .loc, .iloc.

In [85]:
df['one']  # –ï—Å–ª–∏ –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∏–Ω–¥–µ–∫—Å–∞ —É–∫–∞–∑–∞—Ç—å –∏–º—è —Å—Ç–æ–ª–±—Ü–∞, –ø–æ–ª—É—á–∏—Ç—Å—è –æ–¥–Ω–æ–º–µ—Ä–Ω—ã–π –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö —Ç–∏–ø–∞ Series.
df.one  # –ö —Å—Ç–æ–ª–±—Ü—É –º–æ–∂–Ω–æ –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫–∞–∫ –∫ –ø–æ–ª—é –æ–±—ä–µ–∫—Ç–∞, –µ—Å–ª–∏ –∏–º—è —Å—Ç–æ–ª–±—Ü–∞ –ø–æ–∑–≤–æ–ª—è–µ—Ç —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å (= —è–≤–ª—è–µ—Ç—Å—è —Å—Ç—Ä–æ–∫–æ–π)
df['one'].index  # –ò–Ω–¥–µ–∫—Å—ã –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ –æ–¥–Ω–æ–º–µ—Ä–Ω–æ–≥–æ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö.
df['one'].name  # –ú–æ–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å –∏–º—è –¥–∞–Ω–Ω–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞
df['one']['d']  # –ü–æ–ª—É—á–µ–Ω–∏–µ —ç–ª–µ–º–µ–Ω—Ç–∞ –º–∞—Å—Å–∏–≤–∞. –°–Ω–∞—á–∞–ª–∞ –Ω–∞–¥–æ —É–∫–∞–∑–∞—Ç—å —Å—Ç–æ–ª–±–µ—Ü, –ø–æ—Ç–æ–º —Å—Ç—Ä–æ–∫—É 
#df['c']['one']  # –ê –Ω–∞–æ–±–æ—Ä–æ—Ç –Ω–µ–ª—å–∑—è!

2.0

–ü—Ä–∞–≤–∏–ª–∞ –∏–Ω–¥–µ–∫—Å–∞—Ü–∏–∏ –≤ pandas –Ω–µ—Å–∫–æ–ª—å–∫–æ –æ—Ç–ª–∏—á–∞—é—Ç—Å—è –æ—Ç –æ–±—â–µ–ø—Ä–∏–Ω—è—Ç—ã—Ö. –ï—Å–ª–∏ —É–∫–∞–∑–∞—Ç—å –¥–∏–∞–ø–∞–∑–æ–Ω –∏–Ω–¥–µ–∫—Å–æ–≤, —Ç–æ —ç—Ç–æ –æ–∑–Ω–∞—á–∞–µ—Ç –¥–∏–∞–ø–∞–∑–æ–Ω —Å—Ç—Ä–æ–∫. –ü—Ä–∏—á—ë–º –ø–æ—Å–ª–µ–¥–Ω—è—è —Å—Ç—Ä–æ–∫–∞ –≤–∫–ª—é—á–∞–µ—Ç—Å—è –≤ —Ç–∞–±–ª–∏—Ü—É.

In [86]:
df['b':'d']  # –ø—Ä–∞–≤–∞—è –≥—Ä–∞–Ω–∏—Ü–∞ –≤–∫–ª—é—á–µ–Ω–∞!
df[1:3]  # –Ω–æ –¥–∏–∞–ø–∞–∑–æ–Ω —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª –¥–∞—ë—Ç –¥–∏–∞–ø–∞–∑–æ–Ω —Å—Ç—Ä–æ–∫ —Å —Ç–∞–∫–∏–º–∏ –Ω–æ–º–µ—Ä–∞–º–∏, –Ω–µ –≤–∫–ª—é—á–∞—è –ø—Ä–∞–≤—É—é –≥—Ä–∞–Ω–∏—Ü—É (–∫–∞–∫ –æ–±—ã—á–Ω–æ –ø—Ä–∏ –∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞–Ω–∏–∏ —Å–ø–∏—Å–∫–æ–≤). 
#df[1]  # –ø—Ä–∏ —ç—Ç–æ–º –æ–±—Ä–∞—Ç–∏—Ç—å—Å—è –∫ –∏–Ω–¥–µ–∫—Å—É –ø–æ –Ω–æ–º–µ—Ä—É –Ω–µ–ª—å–∑—è, –∞ –≤–æ—Ç —Å—Ä–µ–∑ –≤–∑—è—Ç—å –º–æ–∂–Ω–æ!
# –í—Å—ë —ç—Ç–æ –∫–∞–∂–µ—Ç—Å—è –ø–æ–Ω–∞—á–∞–ª—É –Ω–µ–ª–æ–≥–∏—á–Ω—ã–º –∏ –∑–∞–ø—É—Ç–∞–Ω–Ω—ã–º, —Ö–æ—Ç—è –∏ —É–¥–æ–±–Ω–æ –Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ (–∏ –Ω–∞ —Å–∞–º–æ–º –¥–µ–ª–µ –ª–æ–≥–∏—á–Ω–æ). 
df[['one', 'three']]
display(df['one'])
display(df[['one']])  # –∫–∞–∫ –≤—ã –¥—É–º–∞–µ—Ç–µ, —á–µ–º –æ–±—É—Å–ª–æ–≤–ª–µ–Ω–æ –æ—Ç–ª–∏—á–∏–µ –≤ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏–∏ —ç—Ç–æ–π –∏ –ø—Ä–æ—à–ª–æ–π —Å—Ç—Ä–æ–∫–∏?

a    0.0
b    1.0
c    NaN
d    2.0
e    3.0
f    4.0
g    5.0
Name: one, dtype: float64

   one
a  0.0
b  1.0
c  NaN
d  2.0
e  3.0
f  4.0
g  5.0

–õ–æ–≥–∏—á–Ω–µ–µ —Ä–∞–±–æ—Ç–∞–µ—Ç –∞—Ç—Ä–∏–±—É—Ç loc: –ø–µ—Ä–≤–∞—è –ø–æ–∑–∏—Ü–∏—è ‚Äî –≤—Å–µ–≥–¥–∞ –∏–Ω–¥–µ–∫—Å —Å—Ç—Ä–æ–∫–∏, –∞ –≤—Ç–æ—Ä–∞—è ‚Äî —Å—Ç–æ–ª–±—Ü–∞.

In [87]:
df.loc['b'] # .__index__
df.loc['b', 'one']
df['one']['b']  # —ç—Ç–∞ —Å—Ç—Ä–æ–∫–∞ –≤—ã–≤–µ–¥–µ—Ç —Ç–æ –∂–µ —á—Ç–æ –∏ –ø—Ä–µ–¥—ã–¥—É—â–∞—è 
df.loc['a':'b', 'one']  # –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å—Ä–µ–∑—ã –ø–æ-–≤—Å—è–∫–æ–º—É 
df.loc['a':'b', :]
df.loc[:, 'one']  # –¥–≤–æ–µ—Ç–æ—á–∏–µ, –Ω–∞–ø–æ–º–Ω–∏–º, –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ –±–µ—Ä–µ–º –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è –ø–æ —Å–æ–æ—Ç–≤–µ—Ç—Å–≤—É—é—â–µ–π —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç–∏
df.iloc[2]  # –∞—Ç—Ä–∏–±—É—Ç iloc –ø–æ–¥–æ–±–µ–Ω loc: –ø–µ—Ä–≤—ã–π –∏–Ω–¥–µ–∫—Å ‚Äî –Ω–æ–º–µ—Ä —Å—Ç—Ä–æ–∫–∏, –≤—Ç–æ—Ä–æ–π ‚Äî –Ω–æ–º–µ—Ä —Å—Ç–æ–ª–±—Ü–∞. –≠—Ç–æ —Ü–µ–ª—ã–µ —á–∏—Å–ª–∞, –∫–æ–Ω–µ—Ü –¥–∏–∞–ø–∞–∑–æ–Ω–∞ –Ω–µ –≤–∫–ª—é—á–∞–µ—Ç—Å—è –∫–∞–∫ –æ–±—ã—á–Ω–æ –≤ –ø–∏—Ç–æ–Ω–µ 
df.iloc[1:3]
df.iloc[1:3, 0:2]  # –∏ —Ç—É—Ç —Å—Ä–µ–∑—ã –∞–±—Å–æ–ª—é—Ç–Ω–æ –≤–∞–ª–∏–¥–Ω—ã

   one  two
b  1.0    1
c  NaN    2

In [129]:
df.loc['a','one':'two']

one    0.0
two    0.0
Name: a, dtype: float64

–ë—É–ª–µ–≤—Å–∫–∞—è –∏–Ω–¥–µ–∫—Å–∞—Ü–∏—è ‚Äî –≤—ã–±–æ—Ä —Å—Ç—Ä–æ–∫ —Å –∑–∞–¥–∞–Ω–Ω—ã–º —É—Å–ª–æ–≤–∏–µ–º.

 **–†–µ—à–µ–Ω–∏–µ –∑–∞–¥–∞—á**

In [130]:
df[df.notna()]

   one  two     three
a  0.0    0 -0.146532
b  1.0    1 -0.770408
c  NaN    2 -0.470847
d  2.0    3 -0.982997
e  3.0    4 -1.061588
f  4.0    5  1.068391
g  5.0    6  0.238150

In [88]:
# —Å–æ–∑–¥–∞–µ–º –º–∞—Ç—Ä–∏—Ü—É
n, m = 20, 10
data = np.random.randint(low=-100, high=100,size=(n, m))
cols = np.arange(1, m + 1)
np.random.shuffle(cols)

# —Å–æ–∑–¥–∞–µ–º —Ç–∞–±–ª–∏—Ü—É
task_df = pd.DataFrame(data, columns=cols)

# –∑–∞–¥–∞–µ–º —É—Å–ª–æ–≤–∏—è –¥–ª—è —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤
col_mask = (cols % 2) == 0
row_mask = np.sum(data % 2, axis=1) < (m / 2)

# –∏–∑–≤–ª–µ–∫–∞–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —É—Å–ª–æ–≤–∏—é
task_df.loc[row_mask, col_mask]

    4   2   10  8   6
1   90  44 -66 -97 -85
6  -12  65  96 -54 -63
7  -54 -70  94  69 -93
8  -94 -67  37  66  22
9   54  26  28 -95  98
10 -31  79 -63  16 -77
11 -40 -57 -76 -76  14
15  19 -60  61 -43   8
17 -30  62 -52  -8 -16
18 -78 -99  69  66  59