Lesson 11-1
==

```pip install polars```

```pip install pyarrow```

In [1]:
import polars as pl

**Создание DataFrame в Polars**

In [7]:
# из словаря
data = {
    'A': [1, 2, 3],
    'B': ['foo', 'bar', 'baz'],
    'C': [True, False, True]
}
df = pl.DataFrame(data)
display(df)

shape: (3, 3)
┌─────┬─────┬───────┐
│ A   ┆ B   ┆ C     │
│ --- ┆ --- ┆ ---   │
│ i64 ┆ str ┆ bool  │
╞═════╪═════╪═══════╡
│ 1   ┆ foo ┆ true  │
│ 2   ┆ bar ┆ false │
│ 3   ┆ baz ┆ true  │
└─────┴─────┴───────┘

In [18]:
#из списка кортежей
data = [
    (1, 'foo', True),
    (2, 'bar', False),
    (3, 'baz', True)
]
df = pl.DataFrame(data, schema=['A', 'B', 'C'], orient='row')
display(df)

shape: (3, 3)
┌─────┬─────┬───────┐
│ A   ┆ B   ┆ C     │
│ --- ┆ --- ┆ ---   │
│ i64 ┆ str ┆ bool  │
╞═════╪═════╪═══════╡
│ 1   ┆ foo ┆ true  │
│ 2   ┆ bar ┆ false │
│ 3   ┆ baz ┆ true  │
└─────┴─────┴───────┘

In [19]:
import pandas as pd
pd.DataFrame(data)

   0    1      2
0  1  foo   True
1  2  bar  False
2  3  baz   True

**Пример создания DataFrame**

In [53]:
import numpy as np
strings_data = ["apple", "banana", "cherry", "watermelon", "elderberry"]
integers_data = np.random.randint(1, 100, size=5)
floats_data = np.random.rand(5)

df = pl.DataFrame({
    "fruit": strings_data,
    "quantity": integers_data,
    "price": floats_data
})

print(df.head(3))
print(df.dtypes)
print(df.schema)
print(df.describe())

shape: (3, 3)
┌────────┬──────────┬──────────┐
│ fruit  ┆ quantity ┆ price    │
│ ---    ┆ ---      ┆ ---      │
│ str    ┆ i64      ┆ f64      │
╞════════╪══════════╪══════════╡
│ apple  ┆ 49       ┆ 0.526134 │
│ banana ┆ 97       ┆ 0.703469 │
│ cherry ┆ 55       ┆ 0.659121 │
└────────┴──────────┴──────────┘
[String, Int64, Float64]
Schema([('fruit', String), ('quantity', Int64), ('price', Float64)])
shape: (9, 4)
┌────────────┬────────────┬───────────┬──────────┐
│ statistic  ┆ fruit      ┆ quantity  ┆ price    │
│ ---        ┆ ---        ┆ ---       ┆ ---      │
│ str        ┆ str        ┆ f64       ┆ f64      │
╞════════════╪════════════╪═══════════╪══════════╡
│ count      ┆ 5          ┆ 5.0       ┆ 5.0      │
│ null_count ┆ 0          ┆ 0.0       ┆ 0.0      │
│ mean       ┆ null       ┆ 62.8      ┆ 0.54529  │
│ std        ┆ null       ┆ 30.053286 ┆ 0.176958 │
│ min        ┆ apple      ┆ 24.0      ┆ 0.253116 │
│ 25%        ┆ null       ┆ 49.0      ┆ 0.526134 │
│ 50%        ┆ null       ┆ 55.0      ┆ 0.584611 │
│ 75%        ┆ null       ┆ 89.0      ┆ 0.659121 │
│ max        ┆ watermelon ┆ 97.0      ┆ 0.703469 │
└────────────┴────────────┴───────────┴──────────┘

In [21]:
display(df)

shape: (5, 3)
┌────────────┬──────────┬──────────┐
│ fruit      ┆ quantity ┆ price    │
│ ---        ┆ ---      ┆ ---      │
│ str        ┆ i64      ┆ f64      │
╞════════════╪══════════╪══════════╡
│ apple      ┆ 1        ┆ 0.677511 │
│ banana     ┆ 39       ┆ 0.778862 │
│ cherry     ┆ 76       ┆ 0.277562 │
│ watermelon ┆ 96       ┆ 0.158861 │
│ elderberry ┆ 7        ┆ 0.793633 │
└────────────┴──────────┴──────────┘

**Выбор и фильтрация данных в Polars**

In [23]:
#Индексирование
df[0]

shape: (1, 3)
┌───────┬──────────┬──────────┐
│ fruit ┆ quantity ┆ price    │
│ ---   ┆ ---      ┆ ---      │
│ str   ┆ i64      ┆ f64      │
╞═══════╪══════════╪══════════╡
│ apple ┆ 1        ┆ 0.677511 │
└───────┴──────────┴──────────┘

In [24]:
df[0:]

shape: (5, 3)
┌────────────┬──────────┬──────────┐
│ fruit      ┆ quantity ┆ price    │
│ ---        ┆ ---      ┆ ---      │
│ str        ┆ i64      ┆ f64      │
╞════════════╪══════════╪══════════╡
│ apple      ┆ 1        ┆ 0.677511 │
│ banana     ┆ 39       ┆ 0.778862 │
│ cherry     ┆ 76       ┆ 0.277562 │
│ watermelon ┆ 96       ┆ 0.158861 │
│ elderberry ┆ 7        ┆ 0.793633 │
└────────────┴──────────┴──────────┘

In [25]:
df[:,['fruit', "price"]]

shape: (5, 2)
┌────────────┬──────────┐
│ fruit      ┆ price    │
│ ---        ┆ ---      │
│ str        ┆ f64      │
╞════════════╪══════════╡
│ apple      ┆ 0.677511 │
│ banana     ┆ 0.778862 │
│ cherry     ┆ 0.277562 │
│ watermelon ┆ 0.158861 │
│ elderberry ┆ 0.793633 │
└────────────┴──────────┘

In [26]:
df[1:3, ['fruit', "price"]]

shape: (2, 2)
┌────────┬──────────┐
│ fruit  ┆ price    │
│ ---    ┆ ---      │
│ str    ┆ f64      │
╞════════╪══════════╡
│ banana ┆ 0.778862 │
│ cherry ┆ 0.277562 │
└────────┴──────────┘

In [27]:
# select by row 
df.row(0)

('apple', 1, 0.67751079660411)

In [28]:
df.row(1)

('banana', 39, 0.7788615590589365)

In [32]:
df['fruit','price']

shape: (5, 2)
┌────────────┬──────────┐
│ fruit      ┆ price    │
│ ---        ┆ ---      │
│ str        ┆ f64      │
╞════════════╪══════════╡
│ apple      ┆ 0.677511 │
│ banana     ┆ 0.778862 │
│ cherry     ┆ 0.277562 │
│ watermelon ┆ 0.158861 │
│ elderberry ┆ 0.793633 │
└────────────┴──────────┘

In [33]:
# тоже самое с select
df.select(['fruit','price'])

shape: (5, 2)
┌────────────┬──────────┐
│ fruit      ┆ price    │
│ ---        ┆ ---      │
│ str        ┆ f64      │
╞════════════╪══════════╡
│ apple      ┆ 0.677511 │
│ banana     ┆ 0.778862 │
│ cherry     ┆ 0.277562 │
│ watermelon ┆ 0.158861 │
│ elderberry ┆ 0.793633 │
└────────────┴──────────┘

In [35]:
# но
df.select([
pl.col('fruit'),
(pl.col('price') * 2).alias('double_price')
])

shape: (5, 2)
┌────────────┬──────────────┐
│ fruit      ┆ double_price │
│ ---        ┆ ---          │
│ str        ┆ f64          │
╞════════════╪══════════════╡
│ apple      ┆ 1.355022     │
│ banana     ┆ 1.557723     │
│ cherry     ┆ 0.555125     │
│ watermelon ┆ 0.317721     │
│ elderberry ┆ 1.587265     │
└────────────┴──────────────┘

In [54]:
#Контекст фильтрации строк

df.filter(pl.col("price") > 0.5)

shape: (4, 3)
┌────────────┬──────────┬──────────┐
│ fruit      ┆ quantity ┆ price    │
│ ---        ┆ ---      ┆ ---      │
│ str        ┆ i64      ┆ f64      │
╞════════════╪══════════╪══════════╡
│ apple      ┆ 49       ┆ 0.526134 │
│ banana     ┆ 97       ┆ 0.703469 │
│ cherry     ┆ 55       ┆ 0.659121 │
│ elderberry ┆ 89       ┆ 0.584611 │
└────────────┴──────────┴──────────┘

In [59]:
df.filter((pl.col("price") > 0.5) & (pl.col('quantity')<50) )

shape: (1, 3)
┌───────┬──────────┬──────────┐
│ fruit ┆ quantity ┆ price    │
│ ---   ┆ ---      ┆ ---      │
│ str   ┆ i64      ┆ f64      │
╞═══════╪══════════╪══════════╡
│ apple ┆ 49       ┆ 0.526134 │
└───────┴──────────┴──────────┘

In [61]:
df.filter((pl.col("price") > 0.5) | (pl.col('quantity')<50) )

shape: (5, 3)
┌────────────┬──────────┬──────────┐
│ fruit      ┆ quantity ┆ price    │
│ ---        ┆ ---      ┆ ---      │
│ str        ┆ i64      ┆ f64      │
╞════════════╪══════════╪══════════╡
│ apple      ┆ 49       ┆ 0.526134 │
│ banana     ┆ 97       ┆ 0.703469 │
│ cherry     ┆ 55       ┆ 0.659121 │
│ watermelon ┆ 24       ┆ 0.253116 │
│ elderberry ┆ 89       ┆ 0.584611 │
└────────────┴──────────┴──────────┘

In [41]:
#Метод with_columns
df.with_columns([
    (pl.col("price") * pl.col("quantity")).alias("total")
])

shape: (5, 4)
┌────────────┬──────────┬──────────┬───────────┐
│ fruit      ┆ quantity ┆ price    ┆ total     │
│ ---        ┆ ---      ┆ ---      ┆ ---       │
│ str        ┆ i64      ┆ f64      ┆ f64       │
╞════════════╪══════════╪══════════╪═══════════╡
│ apple      ┆ 1        ┆ 0.677511 ┆ 0.677511  │
│ banana     ┆ 39       ┆ 0.778862 ┆ 30.375601 │
│ cherry     ┆ 76       ┆ 0.277562 ┆ 21.094732 │
│ watermelon ┆ 96       ┆ 0.158861 ┆ 15.250631 │
│ elderberry ┆ 7        ┆ 0.793633 ┆ 5.555428  │
└────────────┴──────────┴──────────┴───────────┘

In [44]:
df.with_columns([
    (pl.col("price") > 3).alias("is_expensive"),
    (pl.col("price") * pl.col("quantity")).alias("total_cost")
])

shape: (5, 5)
┌────────────┬──────────┬──────────┬──────────────┬────────────┐
│ fruit      ┆ quantity ┆ price    ┆ is_expensive ┆ total_cost │
│ ---        ┆ ---      ┆ ---      ┆ ---          ┆ ---        │
│ str        ┆ i64      ┆ f64      ┆ bool         ┆ f64        │
╞════════════╪══════════╪══════════╪══════════════╪════════════╡
│ apple      ┆ 1        ┆ 0.677511 ┆ false        ┆ 0.677511   │
│ banana     ┆ 39       ┆ 0.778862 ┆ false        ┆ 30.375601  │
│ cherry     ┆ 76       ┆ 0.277562 ┆ false        ┆ 21.094732  │
│ watermelon ┆ 96       ┆ 0.158861 ┆ false        ┆ 15.250631  │
│ elderberry ┆ 7        ┆ 0.793633 ┆ false        ┆ 5.555428   │
└────────────┴──────────┴──────────┴──────────────┴────────────┘

Решение задач
---

In [66]:
df = pl.read_csv('titanic.csv')

In [67]:
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [68]:
df.select(['Pclass','Sex','Age'])

shape: (891, 3)
┌────────┬────────┬──────┐
│ Pclass ┆ Sex    ┆ Age  │
│ ---    ┆ ---    ┆ ---  │
│ i64    ┆ str    ┆ f64  │
╞════════╪════════╪══════╡
│ 3      ┆ male   ┆ 22.0 │
│ 1      ┆ female ┆ 38.0 │
│ 3      ┆ female ┆ 26.0 │
│ 1      ┆ female ┆ 35.0 │
│ 3      ┆ male   ┆ 35.0 │
│ …      ┆ …      ┆ …    │
│ 2      ┆ male   ┆ 27.0 │
│ 1      ┆ female ┆ 19.0 │
│ 3      ┆ female ┆ null │
│ 1      ┆ male   ┆ 26.0 │
│ 3      ┆ male   ┆ 32.0 │
└────────┴────────┴──────┘

In [70]:
df.filter((pl.col('Pclass')==1)&(pl.col('Fare')>100))

shape: (53, 12)
┌─────────────┬──────────┬────────┬─────────────┬───┬──────────┬──────────┬─────────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name        ┆ … ┆ Ticket   ┆ Fare     ┆ Cabin       ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---         ┆   ┆ ---      ┆ ---      ┆ ---         ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str         ┆   ┆ str      ┆ f64      ┆ str         ┆ str      │
╞═════════════╪══════════╪════════╪═════════════╪═══╪══════════╪══════════╪═════════════╪══════════╡
│ 28          ┆ 0        ┆ 1      ┆ Fortune,    ┆ … ┆ 19950    ┆ 263.0    ┆ C23 C25 C27 ┆ S        │
│             ┆          ┆        ┆ Mr. Charles ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ Alexander   ┆   ┆          ┆          ┆             ┆          │
│ 32          ┆ 1        ┆ 1      ┆ Spencer,    ┆ … ┆ PC 17569 ┆ 146.5208 ┆ B78         ┆ C        │
│             ┆          ┆        ┆ Mrs.        ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ William     ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ Augustus…   ┆   ┆          ┆          ┆             ┆          │
│ 89          ┆ 1        ┆ 1      ┆ Fortune,    ┆ … ┆ 19950    ┆ 263.0    ┆ C23 C25 C27 ┆ S        │
│             ┆          ┆        ┆ Miss. Mabel ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ Helen       ┆   ┆          ┆          ┆             ┆          │
│ 119         ┆ 0        ┆ 1      ┆ Baxter, Mr. ┆ … ┆ PC 17558 ┆ 247.5208 ┆ B58 B60     ┆ C        │
│             ┆          ┆        ┆ Quigg       ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ Edmond      ┆   ┆          ┆          ┆             ┆          │
│ 196         ┆ 1        ┆ 1      ┆ Lurette,    ┆ … ┆ PC 17569 ┆ 146.5208 ┆ B80         ┆ C        │
│             ┆          ┆        ┆ Miss. Elise ┆   ┆          ┆          ┆             ┆          │
│ …           ┆ …        ┆ …      ┆ …           ┆ … ┆ …        ┆ …        ┆ …           ┆ …        │
│ 743         ┆ 1        ┆ 1      ┆ Ryerson,    ┆ … ┆ PC 17608 ┆ 262.375  ┆ B57 B59 B63 ┆ C        │
│             ┆          ┆        ┆ Miss. Susan ┆   ┆          ┆          ┆ B66         ┆          │
│             ┆          ┆        ┆ Parker "S…  ┆   ┆          ┆          ┆             ┆          │
│ 764         ┆ 1        ┆ 1      ┆ Carter,     ┆ … ┆ 113760   ┆ 120.0    ┆ B96 B98     ┆ S        │
│             ┆          ┆        ┆ Mrs.        ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ William     ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ Ernest (L…  ┆   ┆          ┆          ┆             ┆          │
│ 780         ┆ 1        ┆ 1      ┆ Robert,     ┆ … ┆ 24160    ┆ 211.3375 ┆ B3          ┆ S        │
│             ┆          ┆        ┆ Mrs. Edward ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ Scott (Eli… ┆   ┆          ┆          ┆             ┆          │
│ 803         ┆ 1        ┆ 1      ┆ Carter,     ┆ … ┆ 113760   ┆ 120.0    ┆ B96 B98     ┆ S        │
│             ┆          ┆        ┆ Master.     ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ William     ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ Thornt…     ┆   ┆          ┆          ┆             ┆          │
│ 857         ┆ 1        ┆ 1      ┆ Wick, Mrs.  ┆ … ┆ 36928    ┆ 164.8667 ┆ null        ┆ S        │
│             ┆          ┆        ┆ George      ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ Dennick     ┆   ┆          ┆          ┆             ┆          │
│             ┆          ┆        ┆ (Mar…       ┆   ┆          ┆          ┆             ┆          │
└─────────────┴──────────┴────────┴─────────────┴───┴──────────┴──────────┴─────────────┴──────────┘

In [71]:
df.with_columns((pl.col("Fare")*1.27).alias('Fare_in_USD'))

shape: (891, 13)
┌─────────────┬──────────┬────────┬─────────────────┬───┬─────────┬───────┬──────────┬─────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name            ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ Fare_in_USD │
│ ---         ┆ ---      ┆ ---    ┆ ---             ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---         │
│ i64         ┆ i64      ┆ i64    ┆ str             ┆   ┆ f64     ┆ str   ┆ str      ┆ f64         │
╞═════════════╪══════════╪════════╪═════════════════╪═══╪═════════╪═══════╪══════════╪═════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr.     ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 9.2075      │
│             ┆          ┆        ┆ Owen Harris     ┆   ┆         ┆       ┆          ┆             │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.   ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 90.529791   │
│             ┆          ┆        ┆ John Bradley    ┆   ┆         ┆       ┆          ┆             │
│             ┆          ┆        ┆ (Fl…            ┆   ┆         ┆       ┆          ┆             │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen,      ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 10.06475    │
│             ┆          ┆        ┆ Miss. Laina     ┆   ┆         ┆       ┆          ┆             │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.  ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 67.437      │
│             ┆          ┆        ┆ Jacques Heath   ┆   ┆         ┆       ┆          ┆             │
│             ┆          ┆        ┆ (…              ┆   ┆         ┆       ┆          ┆             │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.      ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 10.2235     │
│             ┆          ┆        ┆ William Henry   ┆   ┆         ┆       ┆          ┆             │
│ …           ┆ …        ┆ …      ┆ …               ┆ … ┆ …       ┆ …     ┆ …        ┆ …           │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.  ┆ … ┆ 13.0    ┆ null  ┆ S        ┆ 16.51       │
│             ┆          ┆        ┆ Juozas          ┆   ┆         ┆       ┆          ┆             │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.   ┆ … ┆ 30.0    ┆ B42   ┆ S        ┆ 38.1        │
│             ┆          ┆        ┆ Margaret Edith  ┆   ┆         ┆       ┆          ┆             │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss. ┆ … ┆ 23.45   ┆ null  ┆ S        ┆ 29.7815     │
│             ┆          ┆        ┆ Catherine Hele… ┆   ┆         ┆       ┆          ┆             │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl  ┆ … ┆ 30.0    ┆ C148  ┆ C        ┆ 38.1        │
│             ┆          ┆        ┆ Howell          ┆   ┆         ┆       ┆          ┆             │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.     ┆ … ┆ 7.75    ┆ null  ┆ Q        ┆ 9.8425      │
│             ┆          ┆        ┆ Patrick         ┆   ┆         ┆       ┆          ┆             │
└─────────────┴──────────┴────────┴─────────────────┴───┴─────────┴───────┴──────────┴─────────────┘

In [72]:
df.filter((pl.col('Sex') == 'female')& (pl.col("Age")<18))

shape: (55, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 10          ┆ 1        ┆ 2      ┆ Nasser, Mrs.       ┆ … ┆ 237736   ┆ 30.0708 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Nicholas (Adele A… ┆   ┆          ┆         ┆       ┆          │
│ 11          ┆ 1        ┆ 3      ┆ Sandstrom, Miss.   ┆ … ┆ PP 9549  ┆ 16.7    ┆ G6    ┆ S        │
│             ┆          ┆        ┆ Marguerite Ru…     ┆   ┆          ┆         ┆       ┆          │
│ 15          ┆ 0        ┆ 3      ┆ Vestrom, Miss.     ┆ … ┆ 350406   ┆ 7.8542  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Hulda Amanda Ad…   ┆   ┆          ┆         ┆       ┆          │
│ 23          ┆ 1        ┆ 3      ┆ McGowan, Miss.     ┆ … ┆ 330923   ┆ 8.0292  ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Anna "Annie"       ┆   ┆          ┆         ┆       ┆          │
│ 25          ┆ 0        ┆ 3      ┆ Palsson, Miss.     ┆ … ┆ 349909   ┆ 21.075  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Torborg Danira     ┆   ┆          ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …        ┆ …       ┆ …     ┆ …        │
│ 814         ┆ 0        ┆ 3      ┆ Andersson, Miss.   ┆ … ┆ 347082   ┆ 31.275  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Ebba Iris Alf…     ┆   ┆          ┆         ┆       ┆          │
│ 831         ┆ 1        ┆ 3      ┆ Yasbeck, Mrs.      ┆ … ┆ 2659     ┆ 14.4542 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Antoni (Selini A…  ┆   ┆          ┆         ┆       ┆          │
│ 853         ┆ 0        ┆ 3      ┆ Boulos, Miss.      ┆ … ┆ 2678     ┆ 15.2458 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Nourelain          ┆   ┆          ┆         ┆       ┆          │
│ 854         ┆ 1        ┆ 1      ┆ Lines, Miss. Mary  ┆ … ┆ PC 17592 ┆ 39.4    ┆ D28   ┆ S        │
│             ┆          ┆        ┆ Conover            ┆   ┆          ┆         ┆       ┆          │
│ 876         ┆ 1        ┆ 3      ┆ Najib, Miss. Adele ┆ … ┆ 2667     ┆ 7.225   ┆ null  ┆ C        │
│             ┆          ┆        ┆ Kiamie "Jan…       ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In [73]:
df.with_columns((pl.col('SibSp')+pl.col('Parch')).alias('Number of relatives'))

shape: (891, 13)
┌─────────────┬──────────┬────────┬───────────────────┬───┬─────────┬───────┬──────────┬───────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ Number of │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---     ┆ ---   ┆ ---      ┆ relatives │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ f64     ┆ str   ┆ str      ┆ ---       │
│             ┆          ┆        ┆                   ┆   ┆         ┆       ┆          ┆ i64       │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═════════╪═══════╪══════════╪═══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 1         │
│             ┆          ┆        ┆ Harris            ┆   ┆         ┆       ┆          ┆           │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 1         │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆         ┆       ┆          ┆           │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 0         │
│             ┆          ┆        ┆ Laina             ┆   ┆         ┆       ┆          ┆           │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 1         │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆         ┆       ┆          ┆           │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 0         │
│             ┆          ┆        ┆ William Henry     ┆   ┆         ┆       ┆          ┆           │
│ …           ┆ …        ┆ …      ┆ …                 ┆ … ┆ …       ┆ …     ┆ …        ┆ …         │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.    ┆ … ┆ 13.0    ┆ null  ┆ S        ┆ 0         │
│             ┆          ┆        ┆ Juozas            ┆   ┆         ┆       ┆          ┆           │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.     ┆ … ┆ 30.0    ┆ B42   ┆ S        ┆ 0         │
│             ┆          ┆        ┆ Margaret Edith    ┆   ┆         ┆       ┆          ┆           │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.   ┆ … ┆ 23.45   ┆ null  ┆ S        ┆ 3         │
│             ┆          ┆        ┆ Catherine Hele…   ┆   ┆         ┆       ┆          ┆           │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl    ┆ … ┆ 30.0    ┆ C148  ┆ C        ┆ 0         │
│             ┆          ┆        ┆ Howell            ┆   ┆         ┆       ┆          ┆           │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.       ┆ … ┆ 7.75    ┆ null  ┆ Q        ┆ 0         │
│             ┆          ┆        ┆ Patrick           ┆   ┆         ┆       ┆          ┆           │
└─────────────┴──────────┴────────┴───────────────────┴───┴─────────┴───────┴──────────┴───────────┘

In [75]:
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

Lesson 11-2
==
Сложные фильтры
--

In [89]:
df=pl.read_csv('books_data.csv', null_values='NaN')
print(df.head())
print(df.describe())

shape: (5, 3)
┌─────────────┬────────┬──────────────┐
│ price       ┆ year   ┆ type         │
│ ---         ┆ ---    ┆ ---          │
│ f64         ┆ f64    ┆ str          │
╞═════════════╪════════╪══════════════╡
│ 707.529256  ┆ 2018.0 ┆ encyclopedia │
│ 1025.203348 ┆ 1992.0 ┆ textbook     │
│ 568.548657  ┆ 1990.0 ┆ encyclopedia │
│ 895.109864  ┆ 1995.0 ┆ newspaper    │
│ 206.532754  ┆ 1986.0 ┆ book         │
└─────────────┴────────┴──────────────┘
shape: (9, 4)
┌────────────┬─────────────┬─────────────┬──────────┐
│ statistic  ┆ price       ┆ year        ┆ type     │
│ ---        ┆ ---         ┆ ---         ┆ ---      │
│ str        ┆ f64         ┆ f64         ┆ str      │
╞════════════╪═════════════╪═════════════╪══════════╡
│ count      ┆ 50000.0     ┆ 48749.0     ┆ 50000    │
│ null_count ┆ 0.0         ┆ 1251.0      ┆ 0        │
│ mean       ┆ 1003.51169  ┆ 2004.470553 ┆ null     │
│ std        ┆ 1000.386795 ┆ 11.52278    ┆ null     │
│ min        ┆ 0.007358    ┆ 1985.0      ┆ book     │
│ 25%        ┆ 292.38947   ┆ 1994.0      ┆ null     │
│ 50%        ┆ 697.459594  ┆ 2004.0      ┆ null     │
│ 75%        ┆ 1392.214487 ┆ 2014.0      ┆ null     │
│ max        ┆ 9777.052347 ┆ 2024.0      ┆ textbook │
└────────────┴─────────────┴─────────────┴──────────┘

In [90]:
#пропуски
df['price'].is_null()

shape: (50_000,)
Series: 'price' [bool]
[
	false
	false
	false
	false
	false
	…
	false
	false
	false
	false
	false
]

In [91]:
df['price'].is_null().sum()

0

In [92]:
for col in df.columns:
    print(f'Column {col} has {df[col].is_null().sum()} nulls')

Column price has 0 nulls
Column year has 1251 nulls
Column type has 0 nulls

In [95]:
df.with_columns([pl.col(col).is_null().alias(col) for col in df.columns]).sum()

shape: (1, 3)
┌───────┬──────┬──────┐
│ price ┆ year ┆ type │
│ ---   ┆ ---  ┆ ---  │
│ u32   ┆ u32  ┆ u32  │
╞═══════╪══════╪══════╡
│ 0     ┆ 1251 ┆ 0    │
└───────┴──────┴──────┘

In [96]:
df = df.drop_nulls()

In [98]:
#Заполнение пропущенных данных:
df.with_columns(pl.col('price').forward_fill())

shape: (48_749, 3)
┌─────────────┬────────┬──────────────┐
│ price       ┆ year   ┆ type         │
│ ---         ┆ ---    ┆ ---          │
│ f64         ┆ f64    ┆ str          │
╞═════════════╪════════╪══════════════╡
│ 707.529256  ┆ 2018.0 ┆ encyclopedia │
│ 1025.203348 ┆ 1992.0 ┆ textbook     │
│ 568.548657  ┆ 1990.0 ┆ encyclopedia │
│ 895.109864  ┆ 1995.0 ┆ newspaper    │
│ 206.532754  ┆ 1986.0 ┆ book         │
│ …           ┆ …      ┆ …            │
│ 1528.844126 ┆ 2008.0 ┆ magazine     │
│ 813.274714  ┆ 2022.0 ┆ newspaper    │
│ 1145.045726 ┆ 1986.0 ┆ textbook     │
│ 475.132386  ┆ 2006.0 ┆ encyclopedia │
│ 121.605306  ┆ 2021.0 ┆ book         │
└─────────────┴────────┴──────────────┘

In [99]:
df = df.interpolate()

In [100]:
#Изменение типов данных. Кастинг

df = df.with_columns(
    pl.col('year').cast(pl.Int32)  # or pl.Int64 if larger values are expected
)
df.head(5)

shape: (5, 3)
┌─────────────┬──────┬──────────────┐
│ price       ┆ year ┆ type         │
│ ---         ┆ ---  ┆ ---          │
│ f64         ┆ i32  ┆ str          │
╞═════════════╪══════╪══════════════╡
│ 707.529256  ┆ 2018 ┆ encyclopedia │
│ 1025.203348 ┆ 1992 ┆ textbook     │
│ 568.548657  ┆ 1990 ┆ encyclopedia │
│ 895.109864  ┆ 1995 ┆ newspaper    │
│ 206.532754  ┆ 1986 ┆ book         │
└─────────────┴──────┴──────────────┘

In [102]:
#Операции агрегации
df.select([
    pl.col("price").count().alias("count"),
    pl.col("price").null_count().alias("null_count"),
    pl.col("price").mean().alias("mean"),
    pl.col("price").std().alias("std_dev"),
    pl.col("price").median().alias("median"),
    pl.col("price").min().alias("min"),
    pl.col("price").quantile(0.25).alias("25%"),
    pl.col("price").quantile(0.5).alias("50%"),
    pl.col("price").quantile(0.75).alias("75%"),
    pl.col("price").max().alias("max"),
])

shape: (1, 10)
┌───────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ count ┆ null_count ┆ mean       ┆ std_dev    ┆ … ┆ 25%       ┆ 50%       ┆ 75%       ┆ max       │
│ ---   ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ u32   ┆ u32        ┆ f64        ┆ f64        ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞═══════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 48749 ┆ 0          ┆ 1003.21277 ┆ 999.483226 ┆ … ┆ 292.63130 ┆ 697.89781 ┆ 1391.5546 ┆ 9777.0523 │
│       ┆            ┆            ┆            ┆   ┆ 2         ┆ 7         ┆ 28        ┆ 47        │
└───────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [120]:
#group_by
df.group_by("type").agg(
    (
        pl.mean("price").alias("mean_price"),
        pl.median("year").alias("median_year"),
        pl.len(),
    ))

shape: (5, 4)
┌──────────────┬─────────────┬─────────────┬──────┐
│ type         ┆ mean_price  ┆ median_year ┆ len  │
│ ---          ┆ ---         ┆ ---         ┆ ---  │
│ str          ┆ f64         ┆ f64         ┆ u32  │
╞══════════════╪═════════════╪═════════════╪══════╡
│ magazine     ┆ 1017.264036 ┆ 2004.0      ┆ 9775 │
│ textbook     ┆ 997.108481  ┆ 2005.0      ┆ 9778 │
│ newspaper    ┆ 993.036589  ┆ 2004.0      ┆ 9730 │
│ encyclopedia ┆ 1010.639895 ┆ 2004.0      ┆ 9744 │
│ book         ┆ 997.964977  ┆ 2005.0      ┆ 9722 │
└──────────────┴─────────────┴─────────────┴──────┘

In [104]:
#group_by
df.group_by("type").agg(
    [
        pl.mean("price").alias("mean_price"),
        pl.median("year").alias("median_year"),
        pl.len(),
    ])

shape: (5, 4)
┌──────────────┬─────────────┬─────────────┬──────┐
│ type         ┆ mean_price  ┆ median_year ┆ len  │
│ ---          ┆ ---         ┆ ---         ┆ ---  │
│ str          ┆ f64         ┆ f64         ┆ u32  │
╞══════════════╪═════════════╪═════════════╪══════╡
│ book         ┆ 997.964977  ┆ 2005.0      ┆ 9722 │
│ magazine     ┆ 1017.264036 ┆ 2004.0      ┆ 9775 │
│ newspaper    ┆ 993.036589  ┆ 2004.0      ┆ 9730 │
│ textbook     ┆ 997.108481  ┆ 2005.0      ┆ 9778 │
│ encyclopedia ┆ 1010.639895 ┆ 2004.0      ┆ 9744 │
└──────────────┴─────────────┴─────────────┴──────┘

In [109]:
df.group_by(["type", "year"]).agg([
    pl.len()
]).pivot(values="len", 
        index=["year"], 
        on=['type'])

shape: (40, 6)
┌──────┬──────────────┬───────────┬──────────┬──────────┬──────┐
│ year ┆ encyclopedia ┆ newspaper ┆ magazine ┆ textbook ┆ book │
│ ---  ┆ ---          ┆ ---       ┆ ---      ┆ ---      ┆ ---  │
│ i32  ┆ u32          ┆ u32       ┆ u32      ┆ u32      ┆ u32  │
╞══════╪══════════════╪═══════════╪══════════╪══════════╪══════╡
│ 1993 ┆ 286          ┆ 224       ┆ 271      ┆ 245      ┆ 260  │
│ 2003 ┆ 232          ┆ 217       ┆ 255      ┆ 274      ┆ 236  │
│ 1989 ┆ 251          ┆ 257       ┆ 252      ┆ 265      ┆ 266  │
│ 1990 ┆ 225          ┆ 232       ┆ 248      ┆ 230      ┆ 244  │
│ 2011 ┆ 254          ┆ 230       ┆ 281      ┆ 234      ┆ 227  │
│ …    ┆ …            ┆ …         ┆ …        ┆ …        ┆ …    │
│ 2024 ┆ 215          ┆ 239       ┆ 225      ┆ 230      ┆ 227  │
│ 2016 ┆ 238          ┆ 241       ┆ 242      ┆ 265      ┆ 232  │
│ 2020 ┆ 235          ┆ 239       ┆ 233      ┆ 259      ┆ 249  │
│ 2008 ┆ 258          ┆ 239       ┆ 257      ┆ 236      ┆ 255  │
│ 2012 ┆ 255          ┆ 246       ┆ 227      ┆ 260      ┆ 238  │
└──────┴──────────────┴───────────┴──────────┴──────────┴──────┘

In [111]:
#Оконные функции
df.with_columns([
    pl.col("price").mean().over("type").alias("mean_price_by_type")
]).sort(by='type').head(10)

shape: (10, 4)
┌─────────────┬──────┬──────┬────────────────────┐
│ price       ┆ year ┆ type ┆ mean_price_by_type │
│ ---         ┆ ---  ┆ ---  ┆ ---                │
│ f64         ┆ i32  ┆ str  ┆ f64                │
╞═════════════╪══════╪══════╪════════════════════╡
│ 206.532754  ┆ 1986 ┆ book ┆ 997.964977         │
│ 2809.215763 ┆ 1994 ┆ book ┆ 997.964977         │
│ 312.145612  ┆ 2020 ┆ book ┆ 997.964977         │
│ 899.770155  ┆ 2017 ┆ book ┆ 997.964977         │
│ 521.318185  ┆ 1987 ┆ book ┆ 997.964977         │
│ 526.535442  ┆ 2020 ┆ book ┆ 997.964977         │
│ 1396.577859 ┆ 2021 ┆ book ┆ 997.964977         │
│ 903.830641  ┆ 2021 ┆ book ┆ 997.964977         │
│ 1748.099214 ┆ 2020 ┆ book ┆ 997.964977         │
│ 127.216709  ┆ 1985 ┆ book ┆ 997.964977         │
└─────────────┴──────┴──────┴────────────────────┘

In [112]:
#Уникальные значения
df.select(
    pl.col("year").n_unique().alias("unique"),
    pl.approx_n_unique("year").alias("unique_approx"),
)

shape: (1, 2)
┌────────┬───────────────┐
│ unique ┆ unique_approx │
│ ---    ┆ ---           │
│ u32    ┆ u32           │
╞════════╪═══════════════╡
│ 40     ┆ 40            │
└────────┴───────────────┘

In [114]:
df['type'].unique()

shape: (5,)
Series: 'type' [str]
[
	"textbook"
	"encyclopedia"
	"magazine"
	"book"
	"newspaper"
]

In [117]:
#Сложная фильтрация
def is_press(x):
    return x=='newspaper'

In [118]:
df.filter(is_press(pl.col('type')))

shape: (9_730, 3)
┌─────────────┬──────┬───────────┐
│ price       ┆ year ┆ type      │
│ ---         ┆ ---  ┆ ---       │
│ f64         ┆ i32  ┆ str       │
╞═════════════╪══════╪═══════════╡
│ 895.109864  ┆ 1995 ┆ newspaper │
│ 9.753627    ┆ 2011 ┆ newspaper │
│ 3144.673318 ┆ 2010 ┆ newspaper │
│ 883.565122  ┆ 1996 ┆ newspaper │
│ 60.046343   ┆ 2003 ┆ newspaper │
│ …           ┆ …    ┆ …         │
│ 780.862886  ┆ 2009 ┆ newspaper │
│ 210.606769  ┆ 2009 ┆ newspaper │
│ 556.339079  ┆ 2011 ┆ newspaper │
│ 1426.939859 ┆ 2019 ┆ newspaper │
│ 813.274714  ┆ 2022 ┆ newspaper │
└─────────────┴──────┴───────────┘

In [119]:
#Условия
df.select(
    pl.col("year"),
    pl.when(pl.col("year") > 2014)
    .then(pl.lit(True))
    .otherwise(pl.lit(False))
    .alias("conditional"),
)

shape: (48_749, 2)
┌──────┬─────────────┐
│ year ┆ conditional │
│ ---  ┆ ---         │
│ i32  ┆ bool        │
╞══════╪═════════════╡
│ 2018 ┆ true        │
│ 1992 ┆ false       │
│ 1990 ┆ false       │
│ 1995 ┆ false       │
│ 1986 ┆ false       │
│ …    ┆ …           │
│ 2008 ┆ false       │
│ 2022 ┆ true        │
│ 1986 ┆ false       │
│ 2006 ┆ false       │
│ 2021 ┆ true        │
└──────┴─────────────┘